<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  
    <body>
      <h1>Hello <%= @event.user.name %>,Welcome to Event hub</h1>
      <p>
        You have successfully signed up to example.com,
        your username is: <%= @event.user.email %>.<br>
      </p>
      <p>
        To login to the site, just follow this link: <%= confirm_email_event_url(@event.confirmation_token) %>.
      </p>
      <p>Thanks for joining and have a great day!</p>
    </body>
  
</html>